.web__article {
  display: flex;
  gap: 20px;
}

.aside__article {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 20px;
}

.cards__article {
  width: 340px;
  display: flex;
  align-items: center;
  gap: 20px;
}

@media (max-width: 1200px) {
  .cards__article {
    width: 300px;
  }
}

@media (max-width: 1024px) {
  .web__article {
    gap: 10px;
  }
}

@media (max-width: 768px) {
  .web__article {
    flex-direction: column;
    gap: 20px;
  }
}
