@media (max-width: 1200px) {
    .cabecalho, .conteiner {
        max-width: 1000px;
    }
    .cartoes article {
        width: 30rem;
    }
    .cartoes div {
        gap: 1rem;
    }
}
@media (max-width: 1024px) {
    .cabecalho {
        padding: 2rem 1rem;
    }
    .conteiner {
        padding: 0 1rem;
    }
    .artigo-web {
        gap: 1rem;
    }
    .ao-lado {
        gap: 2rem;
        padding: 1.5rem;   
    }
}
@media (max-width: 768px) {
    .cabecalho {
        position: fixed;
        z-index: 1;
        background-color: #ffffff;
    }
    .menu {
        display: flex;
        position: absolute;
        z-index: 1;
        background: #ffffff;
        width: 60%;
        top: 8rem;
        right: 0;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav.aberto .menu{
        height: calc(100vh - 8rem);
        visibility: visible;
        overflow-y: auto;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
        padding: 0 2rem; 
    }
    #botao-menu {
        display: block;
        border: none;
        background: none;
        cursor: pointer;
    }
    #hamburger {
        font-size: 3rem;
    }
    .conteiner {
        padding-top: 8rem;
    }
    .vitrine {
        flex-direction: column;
    }
    .artigo-web {
        flex-direction: column;
        gap: 2rem;
    }
    .artigo-web div {
        gap: 3rem;
    }
    .artigo-web .sobre-web {
        padding: 0;
        width: 60%;
    }
}
@media (max-width: 480px) {
    .artigo-web .sobre-web {
        width: 80%;
    }
}